* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F0E8;
}

header{
    background-color: #333; 
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header-contenedor{
    display: flex; 
    align-items: center;
    margin-bottom: 20px;
}

main{
    padding: 20px;
}

main h2{
    text-align: center;
    background-color: aqua;
}

.section-order{
    background-color: #FFDDAE;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.section-target {
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.section-target div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}


.logo{
    max-width: 10%;
    margin-right: 10px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

.section-order h5{
    color: white;
}

.section-order p{
    color: #FBFBFB;
}

nav {
    width: 100%;
}

.nav-links {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav-links a i {
    margin-right: 8px;
}

.nav-links a:hover{
    color: #f4f4f4; 
    text-decoration: underline;
}

.carousel-caption{
    background: rgba(0, 0, 0, 0.5);
    padding: 10px; 
    border-radius: 5px;
}

.btn-primary{
    background-color: #333;
    border-color: #333;
}

.btn-primary:hover{
    background-color: #555;
    border-color: #555;
}

.carousel-img{
    max-height: 500px;
    object-fit: cover;
    max-width: 500px;
}

footer{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer-content{
    max-width: 100%;
    margin: 0 auto;
}

.footer-links{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-links li{
    margin: 0 15px;
}

.footer-links a{
    color: #f4f4f4;
    text-decoration: none;
}

.footer-links a:hover{
    text-decoration: underline;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        text-align: center;
    } .logo { margin-bottom: 10px; } h1 { font-size: 2rem; } 
}
@media (max-width: 480px){
    .logo{
        max-width: 80px;
    }
     h1{
        font-size: 1.5rem;
    }
    .nav-links a{
        font-size: 14px;
    }
}